<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!--query params & fragments-->
      <!--omitting square brackets allows no quotation marks-->
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: true}"
        fragment="loading"
        style="pointer: cursor;"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <button class="btn btn-primary" (click)="onReload()">Reload Page</button>
    <app-edit-server></app-edit-server>
    <hr>
    <!--<app-server></app-server>-->
  </div>
</div>

